body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/mastermind-capucha.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

button {
    height: 4em;
    width: 10em;
    cursor: pointer;
    border-radius: 15%;
    transition: 0.5s;
    background-color: rgb(110, 93, 93);
    margin-left: 2em;
}

button:hover {
    background-color: rgb(90, 81, 81);
    color: rgb(255, 255, 255);
}

.row1 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row2 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row3 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row4 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row5 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row6 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row7 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row8 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row9 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.row10 {
    height: 4em;
    width: 40em;
    display: flex;
    align-items: center;
}

.selectedColor {
    height: 15em;
    width: 40em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#box1 {
    height: 3em;
    width: 3em;
    box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    -webkit-box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    -moz-box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    border-radius: 20%;
    cursor: pointer;
}

#box2 {
    height: 3em;
    width: 3em;
    box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    -webkit-box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    -moz-box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    border-radius: 20%;
    cursor: pointer;
}

#box3 {
    height: 3em;
    width: 3em;
    box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    -webkit-box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    -moz-box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    border-radius: 20%;
    cursor: pointer;
}

#box4 {
    height: 3em;
    width: 3em;
    box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    -webkit-box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    -moz-box-shadow: 0px 0px 34px -2px rgba(255, 255, 255, 0.73);
    border-radius: 20%;
    cursor: pointer;
}

.left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6em;
    width: 60vw;
}

.right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6em;
    width: 30vw
}

#color0-1 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color1-1 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-1 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-1 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-1 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;

}

#check2-1 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-1 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-1 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color0-2 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color1-2 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-2 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-2 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-2 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-2 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-2 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-2 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color1-3 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-3 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-3 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color4-3 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-3 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-3 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-3 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-3 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color1-4 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-4 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-4 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color4-4 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-4 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-4 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-4 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-4 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color1-5 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-5 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-5 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color4-5 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-5 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-5 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-5 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-5 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color1-6 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-6 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-6 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color4-6 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-6 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-6 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-6 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-6 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color1-7 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-7 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-7 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color4-7 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-7 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-7 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-7 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-7 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color1-8 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-8 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-8 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color4-8 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-8 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-8 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-8 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-8 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color1-9 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-9 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-9 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color4-9 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-9 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-9 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-9 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-9 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#color1-10 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color2-10 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color3-10 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#color4-10 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 20%;
}

#check1-10 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check2-10 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check3-10 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}

#check4-10 {
    height: 2em;
    width: 2em;
    border: 0.15em solid white;
    border-radius: 50%;
}