body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: 'Cinzel', serif;
    background-image: url(/img/brain-center-wallpaper.jpeg);
}

.space-logo {
    height: 10em;
    width: 100vw;
}

.logo {
    align-items: start;
    height: 1.5em;
    width: 100vw;
    font-size: 100px;
    background: #FFC814;
    background: linear-gradient(to left, #FFC814 0%, #FF9A36 32%, #FFC95C 50%, #FFAA00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.space-logo-2 {
    height: 25em;
    width: 100vw;
}

.space-logo-3 {
    height: 5em;
    width: 100vw;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#beginner {
    border-radius: 50%;
    height: 5em;
    width: 20em;
    font-size: 1em;
    color: red;
    font-weight: bolder;
    background-color: orange;
    cursor: pointer;
}

#beginner:hover{
    color: white;
}

#intermediate {
    border-radius: 50%;
    height: 5em;
    width: 20em;
    font-size: 1em;
    color: red;
    font-weight: bolder;
    background-color: orange;
}

#advanced {
    border-radius: 50%;
    height: 5em;
    width: 20em;
    font-size: 1em;
    color: red;
    font-weight: bolder;
    background-color: orange;
}
.upper-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    color: white;
    margin-bottom: 1em;
}
#enable:hover{
    color: black;
}
#next1:hover{
    color: black;
}
#next2:hover{
    color: black;
}